.flex__servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: auto;
    height: 700px;
    transition: all;
    transition-duration: 1s;

    .div__servicio{
        width: 30%;
        height: 500px;
        background-color: blue;
        border-radius: 30px;
        transition: all;
        transition-duration: 1s;
        box-shadow: 2px 2px 8px black;
        color: white;
        .ul__Servicios{
            list-style-type: none;
            margin: auto;
            justify-content: center;
            text-align: center;
            padding: 0;
            
            li{
                padding: 1rem;
                
            }
        }
        &:hover{
            transition: all;
            transition-duration: 1s;
            width: 40%;
            height: 600px;
            box-shadow: 4px 4px 15px black;
            border: 3px solid rgb(24, 2, 104);
            
        }
        .servicio__text{
            h5{
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: white;
                color: #6a11cb;
                width: 30%;
                border-radius: 20px;
            }
            h4{
                padding-top: 1rem;
            }
        }
    }
}