@media screen and (max-width: 480px){
body{
     .hero{
        width: 100%;
            .hero__header{
                width: 95%;
                padding: 0;
                padding-top: 15px;
                padding-bottom: 10px;
                margin: 0;
                .navbar-brand{
                    img{
                        margin: auto;
                        margin-left: 1.5rem;
                    }
                }
                .container-fluid{
                    margin: 0;
                    margin-right:10px ;
                }
                img{
                    margin: 0;
                    margin-left: 20px;
                    margin-bottom: 70px;
                }
            }
            .hero__main{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0;
                
                margin: auto;
                padding-top: 30px;
                .hero__contenedor{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    margin: auto;
                    .hero__text{
                        display: flex;
                        flex-direction: column;
                        margin: auto;
                        padding: 0;
                        padding-bottom: 10px;
                        width: 100%;
                        justify-content: center; 
                        text-align: center;

                        h4{
                            width: 90%;
                            justify-content: center;
                            align-items: center;
                            font-size: 2.5rem;
                            text-shadow: 1px 2px 1px white;
                            margin: auto; 
                            text-align: center; 
                        }
                        .btn{
                           
                            margin: auto;
                            margin-top: 1rem;
                            a{
                                span{
                                    color: black;
                                }
                            }
                        }
                    }
                    .hero__img{
                        justify-content: center;
                        align-items: center;
                        width: 90%;
                        padding: 0;
                        margin: auto;
                    }
                }
                }
                
            
            .hero__main__portfolio{
                height: max-content;
                width: 100%;
                padding-bottom: 3rem;
                padding-top: 2rem;
                
                
                
            }
        }
        .sobre__mi{
            margin: 0;
            padding: 0;
            .contenedor__sm{
                display: flex;
                flex-direction: column;
                height: max-content;
                padding: 0;
                .sm__text{
                    width: 100%;
                }
                .sm__img{
                    width: 90%;
                    img{
                        width: 100%;
                        
                    }
                    
                }
            }
        }
        .portfolio__contenedor{
            .contenedor__trabajos{
                display: flex;
                flex-direction: column;
                .trabajo1{
                    h4{
                        font-size: 2rem;
                        transform: translate(-50%, 30%);
                    }
                }
                .trabajo2{
                    h4{
                        font-size: 2rem;
                        transform: translate(-50%, 90%);
                    }
                    
                }
            }
        }
        .grid{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            padding: 0;
            gap: 1rem;
            .grid__item{
            
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.1rem;
                height: auto;
                width: 100%;
                margin: 0;
                margin-bottom: 15px;
                margin-top: 15px;
                overflow: hidden;

                
                img{
                    width: 60%;
                    padding:0;
                    justify-content: center;
                    margin: auto;
                }
                .text{
                    height: 50%;
                    margin: 0;
                    padding: 0;
                    p{
                        font-size: 1rem;
                    }
                    h5{
                        font-size: 2rem;
                        margin: 0;
                    }
                   
                }
                .text__sobremi{
                    h5{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
        .footer{
            width: 100%;
            margin-top: 4rem;
            .footer__item{
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
                padding: 0;
                padding-top: 1rem;
                margin: auto;
                .text{
                    width: 30%;
                    padding-top: 0;
                    padding-bottom: 1.5rem;
                    h4{
                        font-size: 0.9rem;
                        text-shadow: 1px 1px 2px rgb(69, 85, 228);
                    }
                }
                .links{
                    width: 90%;
                    

                    ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        height: max-content;
                        gap: 2rem;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        padding-bottom: 2rem;
                        li{
                            padding: 0;
                           margin: 0;
                            img{
                                &:hover{
                                    transition: none;
                                    width: 48px; 
                                }

                            }
                        }
                    }
                }
                
            }
        }
        .flex__servicios{
            display: flex;
            flex-direction: column;
            height: max-content;
            
            .div__servicio{
                width: 100%;
                height: 100%;
                animation: none;
                &:hover{
                    width: 100%;
                height: 100%;
                animation: none;
                }
            }
            .servicios__table{
                width: 400px;
            }
        }
        .section__contacto{
            width: 100%;
            .flex__programas{
                width: 90%;
                height: max-content;
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                padding: 0;
                gap: 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;


                .programas__img{
                    gap: 1rem;
                }
                .programas__text{
                    margin: auto;
                    padding: 0;
                }
            }
            .flex__contacto{
               display: flex;
               margin: auto;
               padding-top: 2rem;
               width: 100%;

               .contacto__formulario{
                margin: 0;
                

               }
                
            }
        }
    }
} 