.section__contacto{
    .flex__programas{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 60px;
        width: max-content;
        border-radius: 30px;
        padding: 2rem;
        margin: auto;
        margin-top: 1rem;
        box-shadow: 1px 1px 15px black;

        img{
            width: 40px;
        }
        .programas__img{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 3rem;

            ul{
                display: flex;
                flex-direction: row;
                margin: auto; 
                padding: 0;
                list-style: none;
            }
        }
        .programas__text{
            margin-right: 4rem;
            h5{
                
                margin: auto;
            }
        }
    }
    .flex__contacto{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 60px;
        width:100%;
        margin: auto;
            .contacto__atajos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: auto;
                align-items: center;

                a{
                    width: 60px;
                }
            }
            .contacto__formulario{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                background: $degradadoColor;
                border-radius: 1.3rem;
                box-shadow: 4px 4px 5px black;
                width: 400px;
                height: auto;
                padding: 30px;

                .formulario__flex{
                    display: flex;
                    flex-direction: column;
                    margin:5px;
                    text-align: center;
                    justify-content: center;
                }

            }
            
            
    }
}
@mixin tamanos($ancho, $alto) {
    width: $ancho;
    height: $alto;
}