@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

$degradadoColor: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
$secundaryColor: rgb(26, 148, 236);
$backgroundColor: rgb(222, 222, 252);
