@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.hero {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  width: 100%;
}
.hero .hero__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.hero .hero__header img {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: 1s;
  width: 70px;
  margin-left: 60px;
}
.hero .hero__header img:hover {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: 1s;
  width: 90px;
}
.hero .hero__main {
  display: flex;
  flex-direction: row;
  padding-inline: 6rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 90%;
  margin: auto;
}
.hero .hero__main .hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding-left: 3rem;
}
.hero .hero__main .hero__text h4 {
  display: flex;
  font-size: 4rem;
  flex-wrap: wrap;
  text-shadow: 3px 3px 0 rgb(255, 255, 255);
  margin-bottom: 0.7rem;
  padding-right: 20px;
  justify-content: flex-start;
  text-align: center;
}
.hero .hero__main .hero__text p {
  margin-right: auto;
  margin-left: auto;
  font-weight: 1000;
  font-size: 1.7rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition-property: all;
  transition-duration: 0.7s;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.hero .hero__main .hero__text p:hover {
  transition-property: all;
  transition-duration: 0.7s;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.hero .hero__main .hero__text p a {
  text-decoration: none;
  padding: 5px;
}
.hero .hero__main .hero__img {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding-block: 3rem;
  padding: 0;
}
.hero .hero__main__portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.hero .hero__main__portfolio .hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.hero .hero__main__portfolio .hero__text h4 {
  display: flex;
  font-size: 4rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  text-shadow: 3px 3px 0 rgb(255, 255, 255);
  margin: auto;
  justify-content: flex-start;
  text-align: center;
}
.hero .hero__main__portfolio .hero__text p {
  margin-left: auto;
  margin-right: auto;
  font-weight: 1000;
  font-size: 1.7rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition-property: all;
  transition-duration: 0.7s;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.hero .hero__main__portfolio .hero__text p:hover {
  transition-property: all;
  transition-duration: 0.7s;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.hero .hero__main__portfolio .hero__text p a {
  text-decoration: none;
  padding: 5px;
}
.hero .hero__main__sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.grid {
  padding: 6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  width: 85%;
  margin: auto;
}
.grid .grid__item {
  display: flex;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  background-color: rgb(26, 148, 236);
  box-shadow: 0px 0px 15px black;
}
.grid .grid__item img {
  border-radius: 30px;
  width: 45%;
}
.grid .grid__item .text, .grid .grid__item .text__sobremi {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.grid .grid__item .text h5, .grid .grid__item .text__sobremi h5 {
  padding: 10px;
  letter-spacing: 0.1rem;
  color: rgb(255, 255, 255);
  text-shadow: 5px 2px 3px rgb(0, 0, 0);
  font-size: 3rem;
}
.grid .grid__item .text p, .grid .grid__item .text__sobremi p {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-size: 1.7rem;
  text-shadow: none;
}
.grid .grid__item .text__sobremi h5 {
  padding: 10px;
  letter-spacing: 0.1rem;
  color: rgb(0, 0, 0);
  font-size: 3rem;
}
.grid .grid__item .text__sobremi p {
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
}

.section__contacto .flex__programas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 30px;
  padding: 2rem;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 1px 1px 15px black;
}
.section__contacto .flex__programas img {
  width: 40px;
}
.section__contacto .flex__programas .programas__img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
.section__contacto .flex__programas .programas__img ul {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0;
  list-style: none;
}
.section__contacto .flex__programas .programas__text {
  margin-right: 4rem;
}
.section__contacto .flex__programas .programas__text h5 {
  margin: auto;
}
.section__contacto .flex__contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px;
  width: 100%;
  margin: auto;
}
.section__contacto .flex__contacto .contacto__atajos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-items: center;
}
.section__contacto .flex__contacto .contacto__atajos a {
  width: 60px;
}
.section__contacto .flex__contacto .contacto__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  border-radius: 1.3rem;
  box-shadow: 4px 4px 5px black;
  width: 400px;
  height: auto;
  padding: 30px;
}
.section__contacto .flex__contacto .contacto__formulario .formulario__flex {
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center;
  justify-content: center;
}

.flex__servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: auto;
}
.flex__servicios .div__servicio {
  width: 30%;
  height: 500px;
  background-color: blue;
  border-radius: 30px;
  transition: all;
  transition-duration: 1s;
  box-shadow: 2px 2px 8px black;
  color: white;
}
.flex__servicios .div__servicio .ul__Servicios {
  list-style-type: none;
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 0;
}
.flex__servicios .div__servicio .ul__Servicios li {
  padding: 1rem;
}
.flex__servicios .div__servicio:hover {
  transition: all;
  transition-duration: 1s;
  width: 40%;
  height: 600px;
  box-shadow: 4px 4px 15px black;
  border: 3px solid rgb(24, 2, 104);
}
.flex__servicios .div__servicio .servicio__text h5 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #6a11cb;
  width: 30%;
  border-radius: 20px;
}
.flex__servicios .div__servicio .servicio__text h4 {
  padding-top: 1rem;
}

.section__footer .footer__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
  background-color: rgb(26, 148, 236);
}
.section__footer .footer__item .text h4, .section__footer .footer__item .grid .grid__item .text__sobremi h4, .grid .grid__item .section__footer .footer__item .text__sobremi h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  color: rgb(7, 6, 6);
}
.section__footer .footer__item .links {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.section__footer .footer__item .links ul {
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
}
.section__footer .footer__item .links ul li {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  padding: auto;
}
.section__footer .footer__item .links ul img {
  transition: all;
  transition-duration: 1s;
  width: 48px;
}
.section__footer .footer__item .links ul img:hover {
  transition: all;
  transition-duration: 1s;
  width: 64px;
}

@media screen and (max-width: 480px) {
  body .hero .hero__header {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
  }
  body .hero .hero__header .navbar-brand img {
    margin: auto;
    margin-left: 1.5rem;
  }
  body .hero .hero__header .container-fluid {
    margin: 0;
    margin-right: 10px;
  }
  body .hero .hero__header img {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 70px;
  }
  body .hero .hero__main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 0;
    padding-bottom: 70px;
    margin: auto;
    padding-top: 30px;
  }
  body .hero .hero__main .hero__text {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
  }
  body .hero .hero__main .hero__text h4 {
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-shadow: 1px 2px 1px white;
    margin: auto;
  }
  body .hero .hero__main .hero__text p {
    margin: auto;
    text-align: center;
  }
  body .hero .hero__main .hero__img img {
    padding-top: 20px;
    width: 370px;
  }
  body .hero .hero__main__sobremi {
    padding-bottom: 3.1rem;
  }
  body .hero .hero__main__portfolio {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }
  body .grid {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    gap: 1rem;
  }
  body .grid .grid__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  body .grid .grid__item img {
    width: 60%;
    padding: 0;
    justify-content: center;
    margin: auto;
  }
  body .grid .grid__item .text, body .grid .grid__item .text__sobremi {
    height: 50%;
    margin: 0;
    padding: 0;
  }
  body .grid .grid__item .text p, body .grid .grid__item .text__sobremi p {
    font-size: 1rem;
  }
  body .grid .grid__item .text h5, body .grid .grid__item .text__sobremi h5 {
    font-size: 2rem;
    margin: 0;
  }
  body .grid .grid__item .text__sobremi h5 {
    font-size: 2rem;
  }
  body .grid .grid__item .text__sobremi p {
    font-size: 1rem;
  }
  body .footer {
    padding-top: 10px;
  }
  body .footer .footer__item {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .footer .footer__item .text, body .footer .footer__item .grid .grid__item .text__sobremi, .grid .grid__item body .footer .footer__item .text__sobremi {
    width: 55%;
  }
  body .footer .footer__item .text h4, body .footer .footer__item .grid .grid__item .text__sobremi h4, .grid .grid__item body .footer .footer__item .text__sobremi h4 {
    font-size: 1rem;
  }
  body .footer .footer__item .links {
    width: 70%;
  }
  body .footer .footer__item .links ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    align-items: center;
    margin: auto;
    padding-right: 1rem;
  }
  body .footer .footer__item .links ul li {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  body .footer .footer__item .links ul li img:hover {
    transition: none;
    width: 48px;
  }
  body .flex__servicios {
    display: flex;
    flex-direction: column;
  }
  body .flex__servicios .div__servicio {
    width: 100%;
    height: 100%;
    -webkit-animation: none;
            animation: none;
  }
  body .flex__servicios .div__servicio:hover {
    width: 100%;
    height: 100%;
    -webkit-animation: none;
            animation: none;
  }
  body .flex__servicios .servicios__table {
    width: 400px;
  }
  body .section__contacto .flex__programas {
    width: 90%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  body .section__contacto .flex__programas .programas__img {
    gap: 1rem;
  }
  body .section__contacto .flex__programas .programas__text {
    margin: auto;
    padding: 0;
  }
  body .section__contacto .flex__contacto {
    display: flex;
    margin: auto;
    padding-top: 2rem;
  }
  body .section__contacto .flex__contacto .contacto__formulario {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */